<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="my-4">About this app</h1>

        <p class="lead">This project was created using Vue CLI and the following libraries</p>
        <ul class="lead">
          <li>bootstrap 4.4.1</li>
          <li>es6-promise 4.2.8</li>
          <li>vue-router 3.1.3</li>
          <li>vuex 3.1.2</li>
        </ul>

        <p class="text-muted">Developed by <a href="mailto:armin.zia@gmail.com">Armin Zia</a> &copy; 2019</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app-about'
}
</script>