<template>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <!-- if gallery item is found -->
        <div class="my-4" v-if="galleryItem">
          <h1>{{galleryItem.title}}</h1>
          <h3 class="text-muted">{{galleryItem.description}}</h3>
    
          <h4>
            <span>
              <i class="icon ion-ios-thumbs-up"></i> {{galleryItem.ups}}
            </span>
            &nbsp;
            <span>
              <i class="icon ion-ios-thumbs-down"></i> {{galleryItem.downs}}
            </span>
            &nbsp;
            <span>
              <i class="icon ion-ios-stats"></i> {{galleryItem.score}}
            </span>
          </h4>
    
          <hr>
    
          <img :src="galleryItem.mediaUrl" height="350" v-if="galleryItem.mediaType !== 'video/mp4'" />
          
          <video controls v-if="galleryItem.mediaType === 'video/mp4'">
            <source :src="galleryItem.mediaUrl" type="video/mp4" />
          </video>
        </div>

        <!-- if gallery item is undefined -->
        <div class="text-left my-4" v-if="!galleryItem">
          <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Gallery item not found!</h4>
            <p>Deep linking is not implemented, you can't open gallery items in new tabs.</p>
            <hr>
            <p class="mb-0">Go back to home page and click on item titles to view their details.</p>
          </div>
        </div>   
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app-details',
  computed: {
    galleryItem () {
      return this.$store.state.galleryItems.find(item => item.id === this.$route.params.id);
    }
  }
}
</script>