<template>
  <div class="container">
    <!-- jumbotron -->
    <div class="jumbotron my-4">
      <h1 class="display-4">Eurowings Challenge / Vue + Vuex</h1>
      <p class="lead">This app uses the <a href="https://api.imgur.com/">imgur API</a> to load the first page of the gallery. Use the control buttons to filter the results.</p>
    </div>

    <!-- controls -->
    <div class="row align-items-start justify-content-start">
      <!-- section parameter -->
      <div class="col-auto">
        <div class="btn-group">
          <div class="btn-group btn-group-lg">
            <button type="button" v-for="(key, val) in sectionValues"
              @click="changeSection(key)"
              :key="key"
              :class="['btn btn-primary', { 'active': sectionParam === key }]"
              :disabled="isLoading">{{val}}
            </button>
          </div>
        </div>
      </div>
      <!-- sort parameter -->
      <div class="col-auto mt-2 mt-sm-auto mt-md-0">
        <div class="btn-group btn-group-lg">
          <button type="button" v-for="(key, val) in sortValues"
            @click="changeSort(key)"
            :key="key"
            :class="['btn btn-info', { 'active': sortParam === key }]"
            :disabled="isLoading">{{val}}
          </button>

          <button type="button" class="btn btn-info"
            v-if="sectionParam === 'user'"
            @click="changeSort('rising')"
            :class="[{ 'active': sortParam === 'rising' }]"
            :disabled="isLoading">RISING</button>
        </div>
      </div>
      <!-- show virals flag -->
      <div class="col-auto mt-2 mt-sm-2 mt-md-0" v-if="sectionParam === 'user'">
        <div class="btn-group btn-toggle">
          <label class="btn-info btn-lg">
            <input type="checkbox" v-model="showViralParam" :disabled="isLoading"> Show Virals
          </label>
        </div>
      </div>
      <!-- window parameter -->
      <div class="col-auto mt-2 mt-sm-2 mt-md-0" v-if="sectionParam === 'top'">
        <select class="custom-select custom-select-lg" v-model="windowParam" :disabled="isLoading">
          <option selected value="day">day</option>
          <option value="week">week</option>
          <option value="month">month</option>
          <option value="year">year</option>
          <option value="all">all</option>
        </select>       
      </div>
      <!-- reload button -->
      <div class="col-auto mt-2 mt-sm-2 mt-md-0">
        <button class="btn btn-lg btn-success" @click="reload" :disabled="isLoading">
          <span v-if="!isLoading">
            <i class="icon ion-ios-refresh"></i> Reload
          </span>
          <span v-if="isLoading">
            Loading...
          </span>
        </button>
      </div>
    </div>

    <hr>

    <!-- gallery grid -->
    <div class="row">
      <div class="col-md-3 col-sm-4 col-12" v-for="item in items" v-bind:key="item.id">
        <div class="card">
          <img v-bind:src="item.mediaUrl" v-if="item.mediaType !== 'video/mp4'">

          <video controls v-if="item.mediaType === 'video/mp4'">
            <source v-bind:src="item.mediaUrl" type="video/mp4">
          </video>

          <div class="card-body">
            <h5 class="card-title">
              <router-link :to="{ name: 'details', params: { id: item.id }}">{{item.title}}</router-link>
            </h5>
          </div>
        </div>
      </div>
    </div>        
  </div>  
</template>

<script>
export default {
  name: 'app-home',
  data: () => {
    return {
      sectionValues: {
        'HOT': 'hot',
        'TOP': 'top',
        'USER': 'user'
      },

      sortValues: {
        'VIRAL': 'viral',
        'TOP': 'top',
        'TIME': 'time'
      }
    }
  },
  methods: {
    changeSection(value) {
      this.$store.commit('changeSection', value)
    },

    changeSort(value) {
      this.$store.commit('changeSort', value)
    },

    reload: async function () {
      this.$store.dispatch('loadGallery')
    }
  },
  computed: {
    isLoading () {
      return this.$store.state.isLoading
    },

    sectionParam () {
      return this.$store.state.section
    },

    sortParam () {
      return this.$store.state.sort
    },

    showViralParam: {
      get () {
        return this.$store.state.showViral
      },
      set (value) {
        this.$store.commit('changeShowViral', value)
      }
    },

    windowParam: {
      get () {
        return this.$store.state.window
      },
      set (value) {
        this.$store.commit('changeWindow', value)
      }
    },

    items () {
      return this.$store.state.galleryItems
    }
  }
}
</script>

<style scoped>
  .card {
    margin-bottom: 15px;
  }

  .card img,
  .card video {
    width: 100%;
    height: 250px;
  }
</style>
