<template>
  <div id="app">
    <app-navbar></app-navbar>
    <main role="main" class="flex-shrink-0">
      <div class="main-container">
        <router-view></router-view>
      </div>      
    </main>
  </div>
</template>

<script>
import AppNavbar from './components/navbar.vue';

export default {
  name: 'app',
  components: {
    AppNavbar
  }
}
</script>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main > .main-container {
  padding: 60px 15px 0;
}
</style>
